.qrContent {
  background-color: var(--brand-color);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  padding: 30px;

  a {
    color: #fff;
  }

  p,
  h2,
  h3 {
    text-align: center;
    color: #fff;
  }
}

.logo {
  img {
    width: 120px;
  }
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  a {
    width: 100%;
  }
}

.box {
  padding: 20px;

  border: 1px solid #fff;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  p,
  h3 {
    margin: 0;
  }
  h3 {
    font-weight: 600;
  }
}

.moreAbout {
  margin: 30px 0;

  p,
  h3 {
    margin: 0;
  }
}
