.qrContent {
  background-color: var(--brand-color);
  color: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  padding: 10px 30px;

  p {
    font-size: 14px;
    text-align: center;
    line-height: 1.65;
  }

  a {
    color: #fff;
  }
}

.languageSwitch {
  align-self: flex-end;
  margin-bottom: 10px;

  a {
    text-decoration: underline;
  }
}

.logo {
  img {
    width: 160px;
  }
}

.box {
  padding: 20px;
  width: 40%;

  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 25px;

  h3 {
    margin: 0 0 25px 0;
    text-align: center;
  }

  img {
    width: 120px;
  }

  @media (max-width: $container-width) {
    width: 100%;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 35px;
  }
}

.buttonsRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.moreAbout {
  margin: 30px 0;

  p,
  h3 {
    margin: 0;
  }
}
