// Importing Sass/SCSS partials from `sass_dir` (defaults to `_sass`)
@import "base", "code", "default", "footer", "contact-footer", "qr-footer",
  "footer-home-page", "header", "home", "page", "post", "project", "comunitate",
  "audio-ghid", "story-comunitate", "header-home-page", "social-icons",
  "footer-slatina";
// SCSS files roughly correspond to HTML files in _includes and _layouts
