.container-audio-ghid {
  background-color: #25215e;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: justify;
}

.container-audio-ghid a {
  text-decoration: underline;
}

@media (max-width: $container-width) {
  .container-audio-ghid {
    /*  width: 95vw; */
    margin-left: auto;
    margin-right: auto;
  }

  .container-audio-ghid a {
    margin-top: 6%;
  }

  .title-audio-ghid {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
  }
}

.title-audio-ghid {
  color: #ffffff;
  text-align: center;
}

.audio-video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.audio-video-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.audio-video-wrapper iframe {
  height: 380px;
  width: 40%;
}

.audio-video-description-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}

.audio-video-description-header {
  width: 30%;
  color: #ffffff;
  font-weight: bold;
}

.audio-video-description-header p {
  line-height: 25.6px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 60%;
  font-size: 16px;
}

.audio-image {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.audio-image img:nth-child(1) {
  display: none;
}

.audio-image img:nth-child(2) {
  width: 5%;
  padding-bottom: 20px;
}

.audio-image img:nth-child(3) {
  display: none;
}

@media (max-width: $container-width) {
  .audio-image {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 21%;
  }

  .audio-image img:nth-child(1) {
    width: 60%;
    display: flex;
    margin: auto;
  }

  .audio-image img:nth-child(2) {
    width: 20%;
    padding-bottom: 20px;
    padding-top: 5%;
  }

  .audio-image img:nth-child(3) {
    display: flex;
  }
}

.audio-video-description-content {
  width: 70%;
  color: #ffffff;
  max-width: 40%;
}

.audio-video-description-content p {
  line-height: 25.6px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.audio-video-locuri-povesti {
  width: 40%;
  color: #ffffff;
}

.audio-video-locuri-povesti p {
  line-height: 28.8px;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 18px;
}

.photo-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 40px;
}

.prev-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-right: 3%;
  color: #ffffff;
}

.next-button {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: end;
  padding-left: 3%;
  color: #ffffff;
}

.image-wrapper {
  display: flex;
  width: 60%;
  justify-content: center;
}

.prev-button-description p {
  font-size: 14px;
  line-height: 16.8px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 100;
}

.prev-button-description a {
  font-size: 20px;
  color: #ffffff;
}

.prev-button-description a p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 600;
}

.next-button-description {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.next-button-description p {
  font-size: 14px;
  line-height: 16.8px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  font-weight: 100;
}

.next-button-description a {
  font-size: 20px;
  color: #ffffff;
}

.next-button-description a p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  max-width: 150px;
  text-align: left;
  font-weight: 600;
}

.next-story-audio-ghid {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.next-story {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  color: #ffffff;
}

.next-story p:nth-child(1) {
  font-weight: 400;
  font-size: 14px;
  line-height: 25.6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.next-story p:nth-child(2) {
  font-weight: 600;
  font-size: 20px;
  line-height: 44.8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.next-story img {
  display: flex;
  width: 20%;
  position: absolute;
  margin-top: 20%;
}

.next-story-description a {
  color: #ffffff;
}

.audio-video-poveste {
  width: 40%;
  color: #ffffff;
}

.audio-video-poveste p:first-child {
  font-size: 18px;
  line-height: 28.8px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.audio-video-poveste p {
  font-size: 18px;
  line-height: 28.8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.related-story-title {
  color: #ffffff;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 33.6px;
}

.related-story a {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
}

.related-story p {
  margin-bottom: 10px;
  margin-top: 0px;
}

@media (max-width: $container-width) {
  .audio-video-description-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .audio-video-description-header {
    width: 60%;
    color: #ffffff;
    font-weight: bold;
    padding-left: 12%;
  }

  .audio-video-description-header p {
    line-height: 25.6px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding-left: 0;
  }

  .audio-video-description-content {
    color: #ffffff;
    width: 75%;
    max-width: 100%;
    padding-left: 12%;
    padding-right: 5%;
    text-align: left;
    margin-top: 2%;
  }

  .audio-video-description-content p {
    line-height: 25.6px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    text-align: justify;
  }

  .audio-video-wrapper iframe {
    height: 200px;
    width: 80%;
  }

  .next-button {
    display: none;
  }

  .prev-button {
    display: none;
  }

  .next-story img {
    display: none;
  }

  .image-wrapper img {
    width: 100%;
    border-radius: 5%;
  }

  .image-wrapper figcaption {
    color: #ffffff;
    font-size: 10px;
    font-style: normal;
  }

  .audio-video-locuri-povesti {
    line-height: 28.8px;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 18px;
    width: 80%;
  }

  .audio-video-locuri-povesti p {
    line-height: 28.8px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
  }

  .audio-video-poveste {
    width: 80%;
    color: #ffffff;
  }

  .photo-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
  }

  .image-wrapper {
    width: 80%;
    display: block;
  }
}

.audio-video-episod-overview {
  display: flex;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 38.4px;
  color: #ffffff;
  width: 30%;
}

.audio-video-episod {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 30%;
  font-weight: 700;
  font-size: 18px;
  line-height: 40.2px;
  color: #ffffff;
}

.audio-video-episod p {
  margin-top: 0;
  margin-bottom: 10px;
}

.audio-video-episod a {
  color: #ffffff;
}

@media (max-width: $container-width) {
  .audio-video-episod-overview {
    display: flex;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 38.4px;
    color: #ffffff;
    width: 80%;
    justify-content: center;
  }

  .audio-video-episod {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 80%;
    font-weight: 700;
    font-size: 16px;
    line-height: 40.2px;
    color: #ffffff;
  }

  .audio-video-episod p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .audio-video-episod a {
    color: #ffffff;
  }
}

@media (max-width: $container-width) {
  .related-story-title {
    color: #ffffff;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .related-story a {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
  }

  .related-story p {
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .audio-video-poveste p:first-child {
    font-weight: bold;
    font-size: 16px;
    line-height: 28.8px;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
  }

  .audio-video-poveste p:nth-child(2) {
    font-weight: bold;
    font-size: 16px;
    line-height: 28.8px;
    margin-bottom: 10px;
    text-align: right;
  }

  .audio-video-poveste p {
    font-size: 14px;
    line-height: 28.8px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .next-story {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 0px;
    text-align: center;
    color: #ffffff;
  }
}

// Media Player

.media-player {
  margin-top: 5%;
  text-align: center;
  color: white;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.current-time,
.total-time {
  font-size: 14px;
  margin: 0 10px;
}

.progress-bar {
  width: 300px;
  height: 5px;
  background-color: #ccc;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -2px; /* Adjust the bullet alignment */
}

.progress-bar::-webkit-slider-runnable-track {
  height: 5px;
  background: #fff;
  border-radius: 5px;
}

.progress-bar::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  top: -3px; /* Center the thumb on the track */
}

.progress-bar::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -3px; /* Center the thumb on the track */
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  width: 60px;
  height: 60px;
  background-color: white;
  color: #2d2a7a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.play-button img {
  max-width: 30px;
}

.play-icon {
  padding-left: 4px;
}

.play-button:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}
