.communityContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

.description {
  max-width: 85%;
  font-style: italic;
  font-size: 12px;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;

  @media (max-width: $container-width) {
    width: 80%;
  }
}

.galleryItem {
  margin: 10px;
  flex: 0 0 calc(33.3333% - 20px);
  max-width: calc(33.3333% - 20px);
  perspective: 1000px;

  @media (max-width: $container-width) {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

.flipContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flipContainer:hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front img,
.back img {
  max-width: 100%;
  height: 600px;
  height: auto;
  border-radius: 16px;
}

.back {
  transform: rotateY(180deg);
}
