.imagesCarousel {
  img {
    height: auto;
    width: auto;
    max-width: 800px;
    max-height: 700px;
    display: block;

    @media (max-width: $container-width) {
      width: 100%;
    }
  }
}
