.contactFooterList {
  list-style-type: none;
  font-size: larger;
  padding: 0;
  margin: 0;
}

.contactFooterList li {
  margin-bottom: 0;
  font-weight: 500;
}

@media (max-width: 768px) {
  .contactFooterList li {
    margin-bottom: 10px;
    font-weight: 500;
  }
}
