.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 30px 0;

  display: flex;
  justify-content: center;

  > * {
    width: 70%;
  }
}

.content {
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;

  p {
    text-align: center;
    margin: 10px 0;
  }

  h3 {
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
  }

  // When there's only one child (no h3), use smaller margin
  p:only-child {
    margin: 16px 0;
  }
}
