---
layout: default-audio-guide-slatina
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/ro/podul-olt">
      <img src="/assets/img/prev-button.svg" />
    </a>
      <img src="/assets/img/logo-audio-ghid.png" />
    <a href="/ro/biserica-sfanta-treime">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title1 }}</h1>
  <h1 class="title-audio-ghid">{{ page.title2 }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/ro/podul-olt">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Episod anterior </p>
        <a href="/ro/podul-olt">
          <p> Podul peste Olt </p>
        </a>
      </div>
    </div>


  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span class="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/Generic_RO_compressed_Slatina.mp3"></audio>
  </div>

  <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/ro/biserica-sfanta-treime">
          <p>
            Biserica Sfânta Treime
          </p>
        </a>
      </div>
      <a href="/ro/biserica-sfanta-treime">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>

    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        </div>
      <div class="audio-video-description-content">
        <p>
          Audio ghidul a fost realizat în cadrul Atelierelor Voice Your Place Slatina 2025, de către adolescenți din comunitatea locală, cu sprijinul coordonatorilor de ateliere.
        <p>
          Mulțumim participanților, colaboratorilor, prietenilor, partenerilor, finanțatorilor și tuturor celor care au contribuit la realizarea sa!
        </p>
        <p>
          Episod narat de: Teodora Vârban
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/audio-ghid-cover-slatina.jpg" />
    </div>
  </div>
  <div class="next-story-audio-ghid">
    <div class="next-story-description">
      <a href="/ro/project-slatina">
        <p>
          Mai multe detalii despre proiect aici
        </p>
      </a>
    </div>
  </div>
  
  <div class="audio-video-episod-overview">
    Audio ghidul cuprinde următoarele episoade:
  </div>

  <div class="audio-video-episod">
    <a href="/ro/biserica-sfanta-treime">
      <p>
        Biserica Sfânta Treime
      </p>
    </a>

    <a href="/ro/centru-vechi-slatina">
      <p>
        Centrul Vechi al Slatinei
      </p>
    </a>

    <a href="/ro/casa-hanciu">
      <p>
        Casa Hanciu
      </p>
    </a>

    <a href="/ro/cinematograf-victoria">
      <p>
        Fostul cinematograf Victoria
      </p>
    </a>

    <a href="/ro/casa-fantaneanu">
      <p>
        Casa Fântâneanu
      </p>
    </a>

    <a href="/ro/podul-olt">
      <p>
        Podul peste Olt
      </p>
    </a>

  </div>
