---
layout: default-audio-guide-slatina
title: Biserica Sfânta Treime
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/ro/audio-guide-slatina">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/logo-audio-ghid.png" />
    <a href="/ro/centru-vechi-slatina">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/ro/audio-guide-slatina">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Episod anterior </p>
        <a href="/ro/audio-guide-slatina">
          <p> Despre audio ghid </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span class="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/Generic_RO_compressed_Biserica_Sfanta_Treime.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/ro/centru-vechi-slatina">
          <p> Centru Vechi al Slatinei </p>
        </a>
      </div>
      <a href="/ro/centru-vechi-slatina">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>  
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Dilara Karakaș, Alexa Dicu și Antonio Ciobanu
        </p>
        <p>
          Prezentare:
        </p>
        <p>
          Povestiri: Elena Duminică
        </p>
        <p>
          Editare și mixaj: Alex Halka
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Biserica „Sfânta Treime” este cea mai veche biserică din Slatina, fiind edificată pentru prima oară în 1645 de Ghinea Slugerul, dregător pe vremea lui Matei Basarab. De-a lungul secolelor  biserica a suferit mai multe intervenții, ultima fiind restaurarea din 2021, care a urmărit să o aducă mai aproape de imaginea sa originală. La interior, s-a păstrat pictura de secol 19 realizată de Constantin Petrescu, un elev al celebrului pictor de biserici Gheorghe Tattarescu.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/biserica-sfanta-treime.jpg" />
      <figcaption>Biserica Sfânta Treime, fotografie, 1906. Sursă foto: Muzeul Județean Olt</figcaption>
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/ro/centru-vechi-slatina">
          Centru vechi al Slatinei
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Atelierelor Voice Your Place Slatina, participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală (cu tot ce au ele bun și mai puțin bun).  Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Regăsire
    </p>

    <p> 
      de Elena Duminică
    </p>

    <p>
      S-a făcut 12 noaptea, iar eu umblu făra rost de pe la 8, de când am ajuns în gară. Simțisem de când am pășit pe peron cum mă lovește o nostalgie amară, apoi un fel de teamă irațională, poate chiar prostească – o teamă de casă. Deși tocmai de asta m-am întors, ca sa vin acasă. Uite că nici asta n-am reușit. Cum să profanez lăcașul copilăriei mele cu dezamăgirea maturității?
    </p>

    <p>
      Mi-am croit drum prin toate parcurile și pe lângă curțile tuturor școlilor la care am învățat. Am intrat, însă, numai în cafenelele pe care le frecventasem în liceu. Ore bune am stat încremenită în fața ferestrelor cu vitralii, sorbind din câte o cafea. În fețele trecătorilor n-am mai recunoscut prieteni, cum o făceam cândva, însă am descoperit că oamenii au rămas la fel de preocupați de mărunțișuri. Am devenit un turist în orașul natal. 
    </p>

    <p>
      Nu mă mai știe nimeni aici, în acest colțișor de lume.  Umblu ca o nălucă pe străduțele delapidate ale orașului vechi, când văd o rază albă, văruită, între norii cenușii ai istoriei. Neputând rezista chemării, pășesc repede spre pridvor. Istorisiri biblice învăluie pereții, înălțând spre tavan mitul creației. Biserica „Sfânta Treime” m-a așteptat aici încă din copilărie și probabil o să rămână aici mult după ce orașul va dispărea.
    </p>
    
    <p>
      Ceasul a bătut 12. Cu punctualitate fantasmagorică, din umbre se desprinde o pisică. Lumina slabă a felinarelor îi făcea blana neagră să semene cu veșminte clericale. Într-adevăr, ea a rămas acum singura măicuță din acest templu atemporal. Mă sprijin de un stâlp și o invit în poala mea. Mieunatul ei îmi amintește de clinchetul  unui clopoțel, mișcat de același vânt care freamătă printre crengi. Mintea mi se liniștește. Timpul parcă s-a oprit. În sfârșit, am ajuns și eu undeva.
    </p>
  </div>

  <div class="related-story-title">
    Alte povești de la {{ page.title }}:
  </div>
  <!---->
  <!-- <div class="related-story"> -->
  <!--   {% for post in site.data.settings.community-stories %} -->
  <!--     {% if post.location == "BisericaDomneasca" %}  -->
  <!--       <a href="{{ post.url }}"> -->
  <!--         <p> -->
  <!--           {{ post.title }} de {{ post.author }} -->
  <!--         </p> -->
  <!--       </a> -->
  <!--     {% endif %} -->
  <!--   {% endfor %} -->
  <!--   </br> -->
  <!--   </br> -->
  <!--   </br> -->
  <!--   </br> -->
  <!-- </div> -->

</div>
<i> {{page.footer-note}} </i>
