---
layout: default-audio-guide-slatina
title: Casa Hanciu
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/ro/centru-vechi-slatina">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/logo-audio-ghid.png" />
    <a href="/ro/cinematograf-victoria">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/ro/centru-vechi-slatina">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Episod anterior </p>
        <a href="/ro/centru-vechi-slatina">
          <p> Centru vechi al Slatinei </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span class="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/Generic_RO_compressed_Casa_Hanciu.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/ro/cinematograf-victoria">
          <p> Fostul cinematograf Victoria </p>
        </a>
      </div>
      <a href="/ro/cinematograf-victoria">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>  
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Bianca Mareș-Frunză, Victoria Elena și Dragoș Rasoveanu
        </p>
        <p>
          Prezentare: Daniela Mărgărit
        </p>
        <p>
          Povestiri: Ștefania Diaconu și Lidia Rezeanu
        </p>
        <p>
          Editare și mixaj: Alex Halka
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Clădirea a fost construită în 1883 de Petre Hanciu, care a deschis la parterul acesteia o berărie ce a funcționat până în anii 1930. Decorată în stil eclectic, cu două bovindouri pe colț și o bandă ornamentală cu spice de hamei, Casa Hanciu este una dintre cele mai memorabile din centrul vechi.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/casa-hanciu.jpg" />
      <figcaption>Casa Hanciu, fotografie, 1906. Sursă foto: Muzeul Județean Olt</figcaption>
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/ro/cinematograf-victoria">
          Fostul cinematograf Victoria
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Atelierelor Voice Your Place Slatina, participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală (cu tot ce au ele bun și mai puțin bun).  Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Cum să ignori destinul (și să te împiedici de el)
    </p>

    <p>
      de Ștefania Diaconu
    </p>

    <p>
      Simțeam cumva în ceafă un suflu cald, ca o umbră care se ținea după mine, dar, dacă alergam destul de repede, poate că nu mă prindea niciodată. Încerca de mult timp să mă ajungă din urmă, dar de fiecare dată eu eram mai rapidă.
    </p>

    <p>
      Viteza îmi dădea impresia că orice limită a timpului sau a spațiului este o iluzie, că pot, realist vorbind, să ajung din Progresu' în Centrul Vechi în mai puțin de 10 minute. Ceilalți slătineni pur și simplu nu fuseseră destul de creativi să descopere o cale de a face un drum de 30 de minute în 10.
    </p>

    <p>
      Nimeni nu fugea mai repede ca mine. Tocmai de asta, de mai multe ori decât mi-ar fi plăcut să recunosc, aveam genunchii vineți, juliți, plini de sânge, peticiți cu trei-patru plasturi cu ponei, care reușeau doar să îmi dea mai multă încredere în mine și în viteza superumană pe care o posedam. Purtam plasturii ca pe o medalie, care arăta lumii exact ce voiam să transmit: nu îmi e frică să risc. Nu prea știam ce, dar în mintea mea suna foarte tare.
    </p>

    <p>
      Și de asta întârziam mereu. Fugeam mereu. Fugeam și spre cabinetul doamnei dentist, de jos, din oraș, din Centrul Vechi. Trebuia să mă concentrez maxim. Nu îmi permiteam să cad pe dalele de piatră – experiențele anterioare mă făcuseră să am nevoie de ceva mai mult decât plasturii My Little Pony când mai luasem contact cu piatra ascuțită și rece, ieșită exact atât cât să îmi pună piedică. Fugeam și îmi era teribil de frică să nu cad, dar nu îndeajuns de frică încât să încetinesc.
    </p>

    <p>
      Nu mai întârziasem până atunci la dentist. Nu știam ce se poate întâmpla. Mi-era frică de ce ar fi putut zice, iar mama mă tot suna să mă întrebe dacă am ajuns. Dar ea nu știa că mă grăbesc și că n-am timp să vorbesc cu ea?
    </p>

    <p>
      Ajunsesem unde se împarte drumul, la Casa Hanciu. La Dreapta, rațiune, ordine, normalitate, cabinetul doamnei dentiste. Stânga nu însemna nimic. O greșeală, un derapaj de la drum. O alegere fără motiv. Un loc uitat de lume, cu dale de piatră strâmbe.
    </p>

    <p>
      Casa Hanciu părea să respire într-un ritm doar al ei. Am căutat cu privirea balconul, l-am verificat cu coada ochiului, încercând să par indiferentă. Credeam că așa planul meu va reuși într-o zi. Eram absolut convinsă de faptul că locul nu este, de fapt, abandonat, ci că înăuntru locuia cineva într-un așa de mare secret, încât nimeni nu știe nimic despre asta. Și că acest cineva ieșea pe balcon doar când nu îl poate vedea nimeni. Speram că eram destul de rapidă încât să surprind momentul.
    </p>

    <p>
      Nu am simțit cum vârful ghetei mi s-a agățat de marginea aspră a pietrei, dar am simțit impactul. O secundă de liniște. Pulsația sângelui în urechi și amorțeala aspră a asfaltului. Gustul amar al eșecului. Acum sigur nu mai ajung la dentist…
    </p>

    <p>
      Telefonul e spart în colț, pe ecran apare ora prea târzie și numele mamei.
    </p>

    <p>
      Mă ridic cât de repede pot și vreau să o iau iar la fugă, când simt că ceva îmi atinge genunchii proaspăt juliți. O codiță de pisică se leagănă în jurul meu. Îndoindu-și corpul cu o eleganță leneșă, pisoiul se rostogolește pe spate, lăsând burta moale și pufoasă la vedere. Tentația e prea mare. Mă opresc lângă ea să o mângâi.
    </p>

    <p>
      Nici nu trebuie să mă uit la telefon. Știu că mama mă sună, că trebuie să fac dreapta urgent și să ajung la dentist.
    </p>

    <p>
      Ochii pisicii sunt plini o cunoaștere inexplicabilă, iar eu mă întreb dacă nu cumva știu la fel de bine ca ea ce e de făcut. De ce încă încerc să mă grăbesc, să mă încadrez în ritmul unei lumi care cere prea mult, să merg pe drumul drept?
    </p>

    <p>
      Pisica miaună scurt. Pornește în direcția opusă drumului meu. Mustățile îi freamătă ușor. Nu se grăbește. Nici eu nu mă mai grăbesc. Niciun sunet. Doar ochii ei aurii, fante înguste, care par că știu ceva ce eu nu știu încă. Nu a fost vreodată constrânsă de reguli, de limite externe, de timp?
    </p>

    <p>
      Ea pleacă. Încep iar să alerg. Dar fug după ea, pe drumul din stânga. Pierd timpul, dar nu mă pierd pe mine.
    </p>

  </div>

  <div class="related-story-title">
    Alte povești de la {{ page.title }}:
  </div>
</div>
<i> {{page.footer-note}} </i>

