---
layout: default-audio-guide-slatina
title: Centru Vechi al Slatinei
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/ro/biserica-sfanta-treime">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/logo-audio-ghid.png" />
    <a href="/ro/casa-hanciu">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/ro/biserica-sfanta-treime">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Episod anterior </p>
        <a href="/ro/biserica-sfanta-treime">
          <p> Despre audio ghid </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span class="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/Generic_RO_compressed_Centru_Vechi_Slatina.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/ro/casa-hanciu">
          <p> Casa Hanciu </p>
        </a>
      </div>
      <a href="/ro/casa-hanciu">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>  
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Denisa Anghel, Alexandra Cincă și Denisa Anton
        </p>
        <p>
          Prezentare:
        </p>
        <p>
          Povestiri: Emilia Diaconu
        </p>
        <p>
          Editare și mixaj: Alex Halka
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Centrul vechi al Slatinei păstrează aspectul unui oraș negustoresc de secol 19, cu spații comerciale la parter și camere de locuit la etaj, și clădiri decorate în stiluri ce reflectă continuitatea și istoria bogată a acestui loc.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/centru-vechi-slatina.jpg" />
      <figcaption>Strada Lipscani și cafeneaua Minerva, Centrul Vechi al Slatinei, fotografie, 1906. Sursă foto: Muzeul Județean Olt</figcaption>
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/ro/casa-hanciu">
          Casa Hanciu
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Atelierelor Voice Your Place Slatina, participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală (cu tot ce au ele bun și mai puțin bun).  Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Vara în care am fost doi
    </p>

    <p> 
      de Emilia Diaconu
    </p>

    <p>
      Înainte de accident, îmi plăcea înghețata. Obișnuiam să petrecem zile întregi plimbându-ne prin centrul vechi, luând la rând toate gelateriile pe care le întâlneam în cale. Încercam fiecare aromă și ne întreceam să vedem cine înfulecă cel mai repede două cupe din cele mai bizare sortimente. Apoi, în fiecare seară, părinții începeau să-mi facă morală că îmi iroseam toți banii pe înghețată. Dar eu nu îi ascultam. Deja mă gândeam la ce aromă să încerc în dimineața următoare.
    </p>

    <p>
      Înainte de accident, îmi plăcea să desenez. Descoperisem într-o zi o biserică mititică, într-o parte mai pustie a orașului, și mă îndrăgostisem instant. Mergeam în fiecare zi cu o agendă datată de acum trei ani și un penar frumos vopsit, din lemn, și desenam ore în șir stâlpii înflorați și pereții decorați cu îngeri. Ne imaginam că, în timp ce noi îi desenam pe ei pe hârtie, și îngerii ne sculptau pe noi în nori, iar apoi ne uitam la cer, încercând să ne găsim fiecare portretul.
    </p>

    <p>
      Înainte de accident, aveam un prieten. El spunea că îl cheamă Silvestru, dar eu nu-l credeam. Nu mai auzisem niciodată un asemenea nume, nici în cărți, nici la televizor. În plus, părul lui creț și auriu îmi spulbera orice ipoteză că porecla ar fi provenit de la înfățișare, la fel ca ochii măslinii și obrajii mereu rumeni. În orice caz, am decis să nu le spun și părinților despre el. Aveau deja destule pe cap și oricum nu stăteau să mă asculte cum pălăvrăgeam despre ce făceam la școală sau prin oraș.
    </p>

    <p>
      Prima dată l-am întâlnit în centrul vechi. Eram în excursie cu clasa și, într-un moment de neatenție, m-am pomenit singur pe o stradă abandonată. Nu mai fusesem până atunci în acea parte a orașului, iar clădirile bătrâne parcă se încruntau la mine, pline de crăpături și cărămizi descoperite. Le puteam auzi, strigându-mi dezgustate să le părăsesc cartierul. Neajutorat, m-am ascuns sub un tufiș și am început să plâng.
    </p>

    <p>
      Atunci s-a arătat Silvestru, cu zâmbetul până la urechi, și a început să țipe la clădiri și să le certe pentru „comportamentul lor inadecvat”. Mi-a întins apoi o mână și m-a invitat să strig alături de el. La început m-am ferit, speriat de vocea lui impunătoare și de înfățișarea mai sărăcăcioasă. Văzând asta, băiatul m-a tras cu forța de sub tufiș și a continuat să strige, făcându-mi semn să-i urmez exemplul.
    </p>

    <p>
      Aș fi rămas complet fără voce dacă urletele noastre n-ar fi ajuns, într-un final, și la doamna învățătoare, care și-a dat seama că lipseam și s-a întors după mine. M-a certat tot drumul de întoarcere. Roșie la față, la fiecare două propoziții mai făcea câte o pauză să respire, parcă stăpânindu-se să nu-mi plesnească una peste ceafă. În spatele ei stătea Silvestru, imitând-o la perfecțiune și râzând gălăgios. Eu tremuram, dar nu de frică, ci pentru că mă abțineam cu greu să nu zâmbesc.
    </p>

    <p>
      Am petrecut apoi o vară pe cinste. Fiind cu cinci ani mai mare, Silvestru îmi povestea tot felul de lucruri interesante, despre el și despre lumea pe care o văzuse. Într-una din zile, pe la sfârșitul vacanței, am aflat că locuia singur într-o camionetă cu covrigi, după ce fugise de acasă. Nimeni nu îi observase încă lipsa, așa că trăia o viață liberă și împăcată. Îl invidiam într-un fel.
    </p>

    <p>
      În acea seară, părinții mei s-au certat mai rău ca de obicei. Le puteam auzi urletele până și din camera mea, de sub perna cea mai groasă și cu ușa strâns închisă. Atunci mi-a venit o idee.
    </p>

    <p>
      Decizia am luat-o rapid, pregătirile au fost mai dificile. Am îndesat în ghiozdanul de școală câteva haine de schimb, agenda și penarul, iar, ascunse în agendă, erau câteva bancnote rămase de la înghețata din acea zi. Eram gata. Tot ce mai rămânea de făcut era să găsesc o cale de a evada.
    </p>

    <p>
      În sufragerie încă se mai aruncau cuvinte dureroase. Mi-am luat inima în dinți și am ieșit din camera mea cu ghiozdanul în spate și șapca pe cap, pregătit pentru ce era mai rău. Dar, spre surprinderea mea, nu am simțit nicio privire suspicioasă în ceafă și nicio pauză în cearta alor mei. Mi-am anunțat plecarea spunând că ies „la o scurtă plimbare”, dar nu mi-a răspuns nimeni. Mă simțeam ca o fantomă ce își bântuia propria casă. Am șoptit un pa” scurt și am trântit ușa de la intrare.
    </p>

    <p>
      Știam cum se ajungea la camioneta cu covrigi, chiar dacă nu fusesem niciodată acolo. Silvestru îmi promisese de multe ori că mă va lua în vizită pe la el, dar mereu intervenea ceva și planul era abandonat.
    </p>

    <p>
      Am dat nas în nas cu el în centrul vechi. Era întuneric beznă, iar lampa stradală de care stătea rezemat Silvestru era arsă de ani buni. L-am întrebat ce caută acolo la o asemenea oră, dar el m-a ignorat și m-a îndemnat să mă întorc acasă. Când i-am dezvăluit planul meu, n-a zis nimic.
    </p>

    <p>
      Din acea noapte îmi mai amintesc doar o ceartă scurtă, urmată de o  lumină puternică, tot mai apropiată, apoi de un claxon asurzitor.
    </p>

    <p>
      Când m-am trezit pe patul de spital, nu-mi mai plăcea înghețata și nu mai voiam să desenez. Pe noptieră mă așteptau o duzină de buchete frumos ornate și de două ori mai multe felicitări, cumpărate probabil de la magazinul de vis-a-vis. În salon au intrat părinții mei, plângând și cerându-și iertare, promițându-mi că nu mă voi mai simți vreodată singur.
    </p>

    <p>
      Dar ei nu știau de Silvestru, amicul meu cel mai bun pentru o singură vară. Pentru că, după accident, nu am mai avut niciun prieten.
    </p>

  </div>

  <div class="related-story-title">
    Alte povești de la {{ page.title }}:
  </div>
</div>
<i> {{page.footer-note}} </i>

