---
layout: default-audio-guide-slatina
title: Fostul cinematograf Victoria
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/ro/casa-hanciu">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/logo-audio-ghid.png" />
    <a href="/ro/casa-fantaneanu">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/ro/casa-hanciu">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Episod anterior </p>
        <a href="/ro/casa-hanciu">
          <p> Centru vechi al Slatinei </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span class="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/VYP_Ep5_Domneasca_RO_compressed.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/ro/casa-fantaneanu">
          <p> Fostul cinematograf Victoria </p>
        </a>
      </div>
      <a href="/ro/casa-fantaneanu">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>  
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Isidora Pungaru, Sonia Ciulu și Mihai Calofir
        </p>
        <p>
          Prezentare:
        </p>
        <p>
          Povestiri: Sonia Ciulu, Bianca Mareș-Frunză, Mihai Calofir, Alexandra Pojoga
        </p>
        <p>
          Editare și mixaj: Alex Halka
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Construit în 1933 ca Cerc al Subofițerilor, clădirea a fost de la început gândită ca sală de spectacole și proiecții. După 1948 a devenit cinematograful Victoria, funcționând până în anii 1990. În prezent este centru cultural multifuncțional.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/cinematograf-victoria.jpg" />
      <figcaption>Fostul cinematograf înainte de ani `90. Sursă foto: dr. ist. Aurelia Grosu</figcaption>
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/ro/casa-fantaneanu">
          Casa Fântâneanu
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Atelierelor Voice Your Place Slatina, participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală (cu tot ce au ele bun și mai puțin bun).  Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Destin în sala veche
    </p>

    <p>
      de Mirela Crîngu
    </p>

    <p>
      Era o seară ploioasă în centrul vechi din Slatina, iar luminile stradale proiectau umbre misterioase pe fațadele clădirilor bătrâne. Cinematograful Victoria, o relicvă a vremurilor trecute, stătea tăcut și aparent abandonat pe o stradă ce a fost martoră la trecerea mai multor generații. Acest loc era un templu al filmului, un loc unde emoțiile se trăiau în întuneric, unde dragostea și suspansul se împleteau pe pânza albă.
    </p>

    <p>
      Povestea începe într-o seară de primăvară în anii ‘60, când lumina felinarelor se reflecta pe trotuarele umede, iar oamenii se înghesuiau în fața intrării, așteptând să vadă cele mai noi producții aduse din București. Se spune că la premiera unui film celebru, sala era atât de plină, încât unii spectatori stăteau în picioare pe margini, hipnotizați de imaginile care se derulau pe ecran.
    </p>

    <p>
      Eu, pasionată de filme, mă aflam la cinematograf într-una din acele zile aglomerate. Însă ceva era ciudat. Nu eram deloc atentă la ce se întâmpla pe ecran, nici la marea de oameni din jurul meu. Altceva îmi distrăgea atenția. Era ca și cum un spirit era prezent lângă mine. Am hotărât să revin într-o zi în care cinematograful era închis și să cercetez ce se întâmpla.
    </p>

    <p>
      Duminica nu rula niciun film, iar clădirea era închisă. Cu ajutorul unei agrafe și cu puțină iscusință am pășit în sala cinematografului și am simțit fiori reci pe șira spinării. Sunetul pașilor mei răsuna puternic pe podeaua de lemn. Întunericul și liniștea mă nelinișteau și mai tare. Deodată, un fulger a luminat scurt încăperea. O siluetă diafană se contura pe scena veche. Era spiritul unei actrițe.
    </p>

    <p>
      M-am simțit copleșită de teamă, dar și bucuroasă că instinctul meu nu mă înșelase și un spirit locuia acolo. Am rămas nemișcată, șocată de descoperirea pe care o făcusem și gândindu-mă la ce ar trebui să fac, să plec sau să îmi fac curaj să mă apropii. Am ales varianta a doua și, cu inima în gât, m-am apropiat astfel încât spiritul femeii să mă poată observa. Mă temeam de vreo reacție violentă, însă aceasta s-a apropiat de mine și am început să vorbim.
    </p>

    <p>
      Fantoma mi-a spus că numele ei era Eliza și că fusese o actriță de mare succes, foarte cunoscută cu mulți ani în urmă, dar viața îi fusese curmată prea devreme. Vocea ei era o șoaptă dulce și tristă, purtată de vânt prin sala goală. Ascultam cu atenție și, pe măsură ce povestea se desfășura, simțeam o simpatie profundă pentru ea.
    </p>

    <p>
      După ce a terminat de povestit, Eliza mi-a arătat o cutie prăfuită din colțul încăperii. Înăuntru am găsit un jurnal vechi, îngălbenit de vreme. Am început să citesc paginile fragile, pline de secretele și gândurile Elizei. Cu fiecare pagină, viața ei prindea contur în fața ochilor mei, iar eu înțelegeam mai bine durerea și suferința prin care trecuse.
    </p>

    <p>
      Într-o seară, Eliza primise o scrisoare misterioasă care o anunța despre un complot împotriva ei. Eliza a început să investigheze subiectul, dar nu a mai apucat să ajungă la rezolvarea misterului pentru că a fost găsită fără viață în cabina sa.
    </p>

    <p>
      Am simțit o dorință crescândă să aflu adevărul și să îi fac dreptate Elizei.
    </p>

    <p>
      Mergând la bibliotecă și vorbind cu persoane care o cunoscuseră, am adunat un dosar de articole de ziar și scrisori. Toate indiciile sugerau că moartea ei fusese pusă la punct de către iubitul ei, un regizor celebru, gelos pe succesul ei la public.
    </p>

    <p>
      M-am simțit copleșită de nedreptatea acestei povești. Atunci am luat hotărârea să scriu un articol în care să aduc la lumină adevărul despre Eliza.
    </p>

    <p>
      Publicarea articolului a avut un impact uriaș. Cinematograful Victoria, pe lângă un loc plăcut de vizionat filme, a devenit și un loc în care veneau cei interesați de povestea tragică a actriței. Deși nu mai era printre noi, Eliza a reușit să își găsească liniștea, iar spiritul ei n-a mai fost văzut niciodată în cinematograf.
    </p>

  </div>

  <div class="related-story-title">
    Alte povești de la {{ page.title }}:
  </div>
</div>
<i> {{page.footer-note}} </i>

