---
layout: default-audio-guide-slatina
title: Podul peste Olt
---

<div class="audio-video-container">
  <div class="audio-image">
    <a href="/ro/casa-fantaneanu">
      <img src="/assets/img/prev-button.svg" />
    </a>
    <img src="/assets/img/logo-audio-ghid.png" />
    <a href="/ro/audio-guide-slatina">
      <img src="/assets/img/next-button.svg" />
    </a>
  </div>
  <h1 class="title-audio-ghid">{{ page.title }}</h1>
  <div class="audio-video-wrapper">
    <div class="prev-button">
      <a href="/ro/casa-fantaneanu">
        <img src="/assets/img/prev-button.svg" />
      </a>
      <div class="prev-button-description">
        <p> Episod anterior </p>
        <a href="/ro/casa-fantaneanu">
          <p> Fostul cinematograf Victoria </p>
        </a>
      </div>
    </div>

  <div class="media-player">
    <div class="progress-container">
      <span class="current-time" id="current-time">0:00</span>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        class="progress-bar"
        id="progress-bar"
      />
      <span class="total-time" id="total-time">0:00</span>
    </div>
    <div class="play-button-container">
      <div class="play-button" id="play-button">
        <span class="play-icon">
          <img src="/assets/img/play-button.png"> </img>
        </span>
        <span id="pause-icon" style="display: none">
          <img src="/assets/img/pause-button.png"> </img>
        </span>
      </div>
    </div>
    <audio id="audio" src="/assets/audio/Generic_RO_compressed_Podul_Olt.mp3"></audio>
  </div>

    <script src="/assets/js/script.js"></script>

    <div class="next-button">
      <div class="next-button-description">
        <p> Următorul episod: </p>
        <a href="/ro/audio-guide-slatina">
          <p> Podul peste Olt </p>
        </a>
      </div>
      <a href="/ro/audio-guide-slatina">
        <img src="/assets/img/next-button.svg" />
      </a>
    </div>
  </div>  
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE EPISOD:
        </p>
        </div>
      <div class="audio-video-description-content">
        <p>
          Text narat de: Mirela Crînguș, Victor Șerban și Teodor Crețu
        </p>
        <p>
          Prezentare:
        </p>
        <p>
          Povestiri: Dilara Karakaș, Alexa Dicu, Dragoș Rasoveanu
        </p>
        <p>
          Editare și mixaj: Alex Halka
        </p>
      </div>
    </div>
    <div class="audio-video-description-wrapper">
      <div class="audio-video-description-header">
        <p>
          DESPRE OBIECTIV:
        </p>
      </div>
      <div class="audio-video-description-content">
        <p>
          Construit în 1888-1891 pe locul unui mai vechi pod de luntre ce exista în Slatina încă din Evul Mediu, acest pod metalic cu zăbrele este o realizare tehnologică a secolului 19 și unul dintre primele de acest tip construite pe teritoriul României.
        </p>
      </div>
    </div>
  </div>
  <div class="photo-buttons">
    <div class="image-wrapper">
      <img src="/assets/img/podul-olt.jpg" />
      <figcaption>Podul peste râul Olt, fotografie, 1906. Sursă foto: Muzeul Județean Olt</figcaption>
    </div>
  </div>
  <div class="next-story">
    <div class="next-story-description">
      <p>
        Vizitați în continuare pe traseu:
      </p>
      <p>
        <a href="/ro/biserica-sfanta-treime">
          Biserica Sfânta Treime
        </a>
      </p>
    </div>
      <img src="/assets/img/tooltip.png" alt="Tooltip"/>
  </div>
  <div class="audio-video-locuri-povesti">
    <h1 class="title-audio-ghid">Locuri și povești</h1>
    <p>
      La atelierul de scriere creativă din cadrul Atelierelor Voice Your Place Slatina, participanții au scris o serie de povești scurte în relație cu cele șase obiective de patrimoniu. Pentru cineva care le are aproape, locurile acestea pot însemna o mulțime de alte lucruri: acasă, familie, prietenie, copilărie, adolescență, școală (cu tot ce au ele bun și mai puțin bun).  Poveștile sunt integrate în audio ghid sub forma unor fragmente care își propun să aducă mai aproape ascultătorul de viața comunității locale.
    </p>
  </div>
  <div class="audio-video-poveste">
    <p>
      Dragul meu prieten
    </p>

    <p>
      de Dragoș Rasoveanu
    </p>

    <p>
      Se apropie sfârșitul liceului și trebuie să încep să strâng bani pentru facultate. Mai am un an, deci mă gândesc să lucrez undeva.
    </p>

    <p>
      Prin Slatina nu prea ai așa multe oportunități ca elev. Singura opțiune este să lucrez la Casa Hanciu. Nu mă încântă ideea de a lucra într-un loc plin de oameni care beau bere toată ziua, însă am nevoie de bani.
    </p>

    <p>
      Casa Hanciu e o clădire destul de înaltă, aflată la intersecția a două străzi importante, acoperită de crengile copacilor răscolite de vânt. Două străzi pe care circulă mașini și o parcare care, sincer, nu știu de ce e așa aproape de intrarea unui bar.
    </p>

    <p>
      Patronul, un domn scund, cu ochii ageri și cu o față serioasă de afacerist, mai trece din când în când să bea o bere cu clienții, fără să se deranjeze să verifice și ce fac eu. De fapt, de când am început să lucrez aici, nu m-a verificat decât o singură dată.
    </p>

    <p>
      Lunile trec, copacii adorm și apoi încep să se trezească.
    </p>

    <p>
      Într-o zi, printre mulțimea de suflete pierdute, apare dintr-o dată cineva nou. E un bărbat înalt, destul de tânăr, cu ochi obosiți și părul lins. E îmbrăcat de parcă tocmai ar fi fost la o înmormântare. Mă gândesc că poate și-a prezis deja viitorul. Vine la mine, îmi comandă o bere, o plătește și se așază la o masă rotundă, începând să citească un ziar. Mai ciudat decât faptul că citește ziare (serios, cine mai citește acum așa ceva?) este faptul că nu a luat nici măcar o gură din berea comandată.
    </p>

    <p>
      Face asta în fiecare zi, timp de mai multe săptămâni. Stă la masa lui, de dimineața până seara, citind.
    </p>

    <p>
      A venit vremea caldă și frumoasă. Șeful n-a mai trecut pe la bar de vreo câteva săptămâni. Poate s-a dus undeva, într-o vacanță. Toată afacerea rămâne pe umerii mei.
    </p>

    <p>
      Zilele trec. Încerc să mă descurc cu aceiași clienți, dar dispar unul câte unul. Nea Ion n-a mai venit de vreo câteva zile, el, care ajungea înainte de deschidere. Nici prin oraș nu l-am mai văzut. Și Nea Radu lipsește. Și Nea Gelu. Și Nea Petrică. Și Nea George. Chiar și bărbatul în negru ajunge din ce în ce mai târziu.
    </p>

    <p>
      Ceva nu e bine. L-am sunat pe patron, dar nu răspunde.
    </p>

    <p>
      O nouă săptămână. Și mai mulți clienți dispar. Bărbatul în negru își citește ziarul și dă banii degeaba pe bere.
    </p>

    <p>
      Săptămânile trec și ajung singură în bar. Bărbatul în negru mă privește peste ziar și are în priviri ceva sinistru. Decis să nu mai deschid. Patronul nu dă niciun semn.
    </p>

    <p>
      Într-o seară liniștită, după o zi lungă de învățat, mă așez pe canapea și deschid televizorul să mă uit la știri. Îl văd pe bărbatul în negru, arestat. În josul ecranului scrie: „criminal în serie”.
    </p>


  </div>

  <div class="related-story-title">
    Alte povești de la {{ page.title }}:
  </div>
</div>
<i> {{page.footer-note}} </i>

