---
layout: default-project-slatina
---

<div class="proiect-title">Voice Your Place</div>

  <div class="proiect-container">
    <div class="proiect-left-half">
      <p>„Voice Your Place” este un proiect care se concentrează asupra comunității, apartenenței și valorificării mediul construit prin realizarea unui audio ghid narat de adolescenți despre arhitectura de patrimoniu din orașul lor. Obiectivul ghidului audio este să devină o unealtă social-pedagogică ce implică adolescenții într-un proces ludic, dar conștient de explorare, aprofundare și apreciere a patrimoniului. </p>
      <p>
        Audio ghidul Voice Your Place Slatina a fost realizat în cadrul Atelierelor, în luna martie 2025, unde au participat douăzeci și șapte de adolescenți din comunitatea locală. Pe parcursul a trei săptămâni au fost realizate ateliere de: patrimoniu arhitectural,  scriere creativă, actorie, soundscape și înregistrări. Atelierele, coordonate de invitați din domeniile creative vizate, au urmărit realizarea unor componente esențiale din alcătuirea audio ghidului, dar și crearea unor perspective multiple asupra obiectivelor de patrimoniu studiate, care să contureze și să aprofundeze complexitatea lor.

      </br>
      Audio ghidul Voice Your Place Slatina cuprinde șase episoade: Biserica Sfânta Treime, Centrul vechi al Slatinei, Casa Hanciu, Fostul cinematograf Victoria, Casa Fântâneanu și Podul peste râul Olt.
      Audio ghidul nu oferă o simplă narațiune, ci este cumulul și produsul unei proces de cunoaștere și apropiere a comunității tinere locale de patrimoniul construit, oferind în același timp vizitatorului și ascultătorului experiența de a auzi prin vocile comunității poveștile locului.
      <figure>
        <img class="project-img" src="{{ site.github.url }}/assets/img/{{ page.image }}"/>
        <figcaption>Foto: echipa Voice Your Place Slatina la evenimentul de încheiere al Atelierelor</figcaption>
      </figure>

    </div>

    <div class="proiect-right-half">
      <p>Echipa proiectului</p>
      <p>
        Participanții Atelierelor Voice Your Place Slatina 2025: 
        </br>
        Sara Aflagea, Denisa Anghel, Denisa Anton, Mihai Calofir, Alexandra Cincă, Antonio Ciobanu, Sonia Ciulu, Teodor Crețu, Mirela Crînguș, Theodor Cristoiu, Emilia Diaconu, Ștefania Diaconu, Alexa Dicu, Elena Duminică, Dilara Karakaș, Denisa Luță, Bianca Mareș-Frunză, Daniela Mărgărit, Amelia Pîrvu, Alexandra Pojoga, Isidora Pungaru, Victoria Răducu, Dragoș Rasoveanu, Lidia Rezeanu, Ana Sanda, Victor Șerban, Teodora Vârban.
      </p>

      <p>
        Autor și coordonator de proiect: Iarina Tavă
      </p>

      <p>
        Asistent de proiect: Irina Leca
      </p>

      <p>
        Audioghidul a fost realizat în urma unei serii de ateliere: <br>
        Atelierul de arhitectură cu Iarina Tavă, Cristina Chira și Diana Necșulescu <br>
        Atelierul de scriere creativă cu Cristina Chira <br>
        Atelierul de actorie cu Alini Medoia <br>
        Atelierul de soundscape cu Alex Halka <br>
      </p>

      <p>
        Asistență Ateliere: Alexandra Parpală
      </p>

      <p>
        Identitate vizuală: Diana Necșulescu
      </p>

      <p>
        Design signalistică urbană: nuumroom studio
      </p>

      <p>
        Documentarea clădirilor de patrimoniu a fost realizată de Florentina Murea-Matache și doctor în istorie Aurelia Grosu
      </p>

      <p>
        Textele audio ghidului au fost scrise de Cristina Chira
      </p>

      <p>
        Poveștile audio ghidului au fost realizate de către adolescenții participanți la atelierul de scriere creativă. Înregistrările de teren au fost realizate de adolescenții participanți la atelierul de soundscape. Înregistrările audio ghidului au avut loc la Palatul Copiilor Adrian Băran și au fost asistate de Iarina Tavă și Alex Halka.
      </p>

      <p>
        Editare și mixaj audio ghid: Alex Halka
      </p>

      <p>
        Website dezvoltat de: Gabriel Mocanu <br>
        Grafică website: nuumroom studio
      </p>

      <p>
        Un proiect marca Voice Your Place realizat împreună cu Asociația Studiogovora.
      </p>

      <p>
        Proiect finanțat prin  „Fondul pentru un viitor mai bun în comunități Slatina”. 
      </p>

      <p>
        Fondul pentru un viitor mai bun în comunități este coordonat de Federaţia Fundaţiile Comunitare din România, finanțat de Lidl România și implementat la Slatina de Fundația Comunitară Vâlcea.
      </p>

      <p>
        Mulțumim partenerilor noștri: <br>
        Asociația De-a Arhitectura, Filiala Teritorială Oltenia a Ordinului Arhitecților din România, Asociația Arta în Dialog, Muzeul Județean Olt, Colegiul Național Ion Minulescu, Colegiul Național Radu Greceanu, Colegiul Național Teoretic Nicolae Titulescu, Liceul tehnologic Alexe Marin.
      </p>
    </div>

  </div>

  <div class="social-sponsors">
    {% for item in site.data.settings.social-partners-slatina %}
      <img src="{{ site.github.url }}/assets/img/{{ item.image }}" />
    {% endfor %}
  </div>
