---
layout: en-default-project-slatina
---

<div class="proiect-title">Voice Your Place</div>

  <div class="proiect-container">
    <div class="proiect-left-half">
      <p>
        „Voice Your Place” is a project that focuses on community, belonging and valuing the built environment by making an audio guide narrated by teenagers about the heritage architecture of their town. The aim of the audio guide is to become a social-pedagogical tool that engages teenagers in a playful but conscious process of exploring, deepening and appreciating local heritage.
      </p>
      <p>
        The audio guide was made during the Voice Your Place Slatina 2025 Workshops, where twenty-seven teenagers from the local communityparticipated
        </br>
        During the three weeks, workshops were held in: architecture, acting, interviews and recordings in a local studio. The workshops, coordinated by guests from various creative fields, aimed to create key components of the audio guide, as well as to develop multiple perspectives of the studied heritage buildings, shaping and deepening their complexity.
        </br>
        During the three weeks, workshops were held in: architecture, creative writing, acting, soundscape and voice recordings. The workshops, coordinated by guests from various creative fields, aimed to create key components of the audio guide, as well as to develop multiple perspectives of the studied heritage buildings, shaping and deepening their complexity.
        </br>
        The audio guide includes six epsiodes:  The Holy Trinity Church, Slatina’s Old Centre, The Hanciu House, The former Victoria Cinema, The Fântâneanu House, The bridge over the Olt river.
        </br>
        The Voice Your Place project and audio guide offers more than a simple narrative, it is the result of a process of knowledge and awareness of the built heritage by the local young community, offering visitors and listeners the experience of hearing the stories of the place through the voices of the community.
      </p>
      <figure>
        <img class="project-img" src="{{ site.github.url }}/assets/img/{{ page.image }}"/>
        <figcaption>Photo: Voice Your Place Slatina team at the closing event of the Workshops</figcaption>
      </figure>

    </div>

    <div class="proiect-right-half">
      <p>
        Project team
      </p>
      <p>
        The participants of the Voice Your Place Slatina 2025 Workshops: 
        Sara Aflagea, Denisa Anghel, Denisa Anton, Mihai Calofir, Alexandra Cincă, Antonio Ciobanu, Sonia Ciulu, Teodor Crețu, Mirela Crînguș, Theodor Cristoiu, Emilia Diaconu, Ștefania Diaconu, Alexa Dicu, Elena Duminică, Dilara Karakaș, Denisa Luță, Bianca Mareș-Frunză, Daniela Mărgărit, Amelia Pîrvu, Alexandra Pojoga, Isidora Pungaru, Victoria Răducu, Dragoș Rasoveanu, Lidia Rezeanu, Ana Sanda, Victor Șerban, Teodora Vârban.
      </p>

      <p>
        Project creator and coordinator: Iarina Tavă
      </p>

      <p>
        Project assistant: Irina Leca
      </p>

      <p>
        The audio guide was made during a series of workshops: <br>
        Architecture workshop with Iarina Tavă, Cristina Chira and Diana Necșulescu <br>
        Creative writing workshop with Cristina Chira <br>
        Acting workshop with Alini Medoia <br>
        Soundscape workshop with Alex Halka <br>
        Workshops assistant: Alexandra Parpală <br>
      </p>

      <p>
        The documentation for the historical monuments was provided by Florentina Murea-Matache and doctor of history Aurelia Grosu
      </p>

      <p>
        The texts were written by Cristina Chira
      </p>

      <p>
        Visual identity: Diana Necșulescu
      </p>

      <p>
        City signage design: nuumroom studio
      </p>

      <p>
        The audio guide stories were written by the teenagers participating in the creative writing workshop. Field recordings were made by teenagers during the Soundscape workshop, while the audio guide recordings were assisted by Alex Halka and Iarina Tavă and took place at Adrian Băran Children`s House
      </p>

      <p>
        Editing and mixing Alex Halka
      </p>

      <p>
        Website developed by: Gabriel Mocanu
        Website design: nuumroom studio.
      </p>

      <p>
        A Voice Your Place project, implemented together with Studiogovora Association, funded through „The fund for a Better Future in Communities: Slatina”
      </p>

      <p>
        The Fund for a Better Future in Communities is coordinated by The Romanian Federation of Community Foundations and financed by LIDL Romania. It was implemented in Slatina by Vâlcea Community Foundation.
      </p>

      <p>
        We are grateful to our partners: De-a Arhitectura Association, The Romanian Order of Architects - Oltenia Territorial Branch, Arta în dialog Association, Olt County Museum,  Ion Minulescu National College, Radu Greceanu National College, Nicolae Titulescu National Theoretical College, and Alexe Marin Technological High School.
      </p>

    </div>
  </div> 

  <div class="social-sponsors">
    {% for item in site.data.settings.en-social-partners-slatina %}
      <img src="{{ site.github.url }}/assets/img/{{ item.image }}" />
    {% endfor %}
  </div>
