.audioGuideContent {
  background-color: var(--brand-color);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.infoText {
  width: 40%;
  text-align: justify;
  margin-top: 20px;

  @media (max-width: $container-width) {
    width: 80%;
    font-size: 14px;
    line-height: 25.6px;
  }
}

.coverImage {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 10px 0 0 0;
    text-align: center;
    max-width: 95%;
    font-size: 12px;
  }

  img {
    width: 400px;

    @media (max-width: $container-width) {
      width: 80%;
      border-radius: 5%;
      max-width: 600px;
    }
  }
}

.pagesListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  width: 85%;

  h3 {
    text-align: center;
  }
}

.pagesList {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 40px 0;

  h2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-decoration: underline;
  }
}

.overlayImage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  max-width: 500px;
}
